canvas {
    border:5px solid black;
    margin-left:auto;
    margin-right:auto;
    display: block;
}
ul {
    list-style-type:none;
    margin: 0;
    padding:0;
    border:0;
    height:30px;
    position: relative;
    left: 40%;
}
li {
    margin:0;
    padding:0;
    border:2px solid white;
    display:block;
    float:left;
    width:30px;
    height:30px;
    cursor:pointer;
}
li.active {
    border:2px solid #666;
}
a, a:hover {
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    font-family:Arial, sans-serif;
    display:block;
    width:220px;
    padding:5px 10px;
    background:#3d6aa2;
    color:white;
    text-decoration:none;
    font-size:2em;
    text-align:center;
}