canvas {
    border:5px solid black;
    margin-left:auto;
    margin-right:auto;
    display: block;
}

audio {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
/*ul {
    list-style-type:none;
    margin: 0;
    padding:0;
    border:0;
    height:30px;
    position: relative;
    left: 40%;
}
li {
    margin:0;
    padding:0;
    border:2px solid white;
    display:block;
    float:left;
    width:30px;
    height:30px;
    cursor:pointer;
}
li.active {
    border:2px solid #666;
}
*/

div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 450px;
}

div span{
    width: 110px;
    display: inline-block;
}

#music_number{
    width: 50px;
}

#music_selection_div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 170px;
}

a {
/*    margin-top:10px;*/
    margin-left: 10px;
    margin-right: 10px;    
    display: inline-block;
    position: relative;
    width:200px;
    /*padding:5px 10px;*/

    background:#3d6aa2;
    color:white;
    font-family:Arial, sans-serif;
    text-decoration:none;
    font-size:2em;
    text-align:center;
}